<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="JobRepoServices.SalarySurveyService" behaviorConfiguration="SalarySurveyServiceBehaviors">
          <endpoint address="" binding="basicHttpBinding" contract="JobRepoServices.ISalarySurveyService"
          bindingConfiguration="TransportSecurity">
          <!--<identity>
            <dns value="localhost" />
          </identity-->
        </endpoint>
        <endpoint name ="mex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/JobRepo/SalarySurveyService" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SalarySurveyServiceBehaviors">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <!--<serviceDebug includeExceptionDetailInFaults="False"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <!--
          To enable SSL for basicHttp binding which does not have any security by default :
          for more information : http://cgeers.com/2012/01/30/enabling-ssl-for-a-wcf-service/ 
          -->
        <binding name="TransportSecurity">
          <!--Transport security means securing your channel with SSL and hence you would need a certificate. 
                If you dont want to use SSL but want to pass username password over the channel then you can use ClearUsernameBinding that sends the username password over the channel in clear text. 
                NOTE: Make sure you use this only when you are confident that you client and server channel is secure like behind a firewall that provides security.
                http://stackoverflow.com/questions/10631215/could-not-find-a-base-address-that-matches-scheme-https-for-the-endpoint-with-bi
             
              <security mode="Transport"> 
                <transport clientCredentialType="None" /> 
              </security> 
              -->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
